/* You can add global styles to this file, and also import other style files */

form {
  .form-control {
    margin-top: .5rem;
  }

  .form-control-file {
    margin-top: .5rem;
  }

  .btn {
    margin-top: .5rem;
  }
}
